#sideBar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#sideBar ul li{
    padding: 0 10px ;
}

.sideBarElement{
    border-bottom: 1px solid black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#wrap{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#navBar{
    width: 20%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.315);
}

.sideBar-hover:hover{
    font-weight: 500;
    cursor: pointer;
}

.icon{
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.678);
}

#colors{
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    display: none;
}

.color{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: red;
    cursor: pointer;
    margin-top: 10px;
}

.color:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
}

.red{
    background-color: #DF0B20;
}

.green{
    background-color: #0BDF2F;
}

.yellow{
    background-color: #fde64b;
}

.pink{
    background-color: #FF43B4;
}

.orange{
    background-color: #FF9E0A;
}

.blue{
    background-color: #1FB1F0;
}