#sideBar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#sideBar ul li{
    padding: 0 10px ;
}

.sideBarElement{
    border-bottom: 1px solid black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#wrap{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#navBar{
    width: 20%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.315);
}

.sideBar-hover:hover{
    font-weight: 500;
    cursor: pointer;
}

.icon{
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.678);
}