body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding-left: 20px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    background: rgb(244,69,0);
    background: linear-gradient(-90deg, rgba(244,69,0,1) 0%, rgba(248,116,0,1) 36%, rgba(255,192,0,1) 100%);
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 5px;
}